@import url('https://fonts.googleapis.com/css2?family=Boogaloo&family=Montserrat:wght@200;300;400;500&display=swap');

$fonts-headline: "Boogaloo", Arial, sans-serif;
$fonts-body: "Montserrat", arial, sans-serif;
$background-color: #adddf0;
$primary: #519cbb;
$secondary:#044C6A;
$third-color:#04364F;
$accent1: #DeccA0;
$accent2: #Edeeee;
$fish: #eea14e;
// $grey-sidebar: rgba(51, 55, 69, 0.9);
$text-dark: #333;
$text-light: #fff;

$text-gradient-color1: rgb(76, 76, 76);
$text-gradient-color2: rgb(108, 108, 108);
$text-gradient-color3: rgb(141, 141, 141);
$text-gradient-color4: rgb(176, 176, 176);

:root {
   --ratio: 1.5;
   --s-5: calc(var(--s-4) / var(--ratio));
   --s-4: calc(var(--s-3) / var(--ratio));
   --s-3: calc(var(--s-2) / var(--ratio));
   --s-2: calc(var(--s-1) / var(--ratio));
   --s-1: calc(var(--s0) / var(--ratio)); 
   --s0: 1em; 
   --s1: calc(var(--s0) * var(--ratio));
   --s2: calc(var(--s1) * var(--ratio));
   --s3: calc(var(--s2) * var(--ratio));
   --s4: calc(var(--s3) * var(--ratio));
   --s5: calc(var(--s4) * var(--ratio));
}