@use "variables" as *; /* allows you to you the names of the variables. */
@use "atoms/background"; /* adds background gradient */
@use "atoms/typography";
@use "atoms/fish";
@use "molecules/bubbles";
@use "molecules/footer";
@use "atoms/boats";

header {
   display: flex;
   flex-direction: column;
   align-items: center;
}

body > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    overflow-x: hidden;
    margin: 0;
}

body {
    margin: 0;
    p {
        text-decoration: none;
    }
    a {
        text-decoration: none;
    }
}

.intro {
    grid-column: 1/4;
}

.summary {
    background-color: $accent1;
    margin: 1em 0;
    padding: 1.5em 10em 1.5em 1.5em;
    border-radius: 0 80% 0 0;
    width: 50%;

}

.preamble {
    // padding: .5em 10em 2em 4em;
    // padding: .5em;
    // margin-left: -20px;
    // border-radius: 0 80% 0 0;
    grid-column: 1/3;
    width: 75%;
    margin-top: 5em;
    margin-left: 7em;
    margin-bottom: var(--s3);
}

.main {
    width: 75%;
    margin-inline: auto;
    grid-column: 1/3;
    grid-row: 2/6;
    div {
        margin-bottom: var(--s3);
    }
}

footer {
    grid-row: 6/7;
}
