@import url("https://fonts.googleapis.com/css2?family=Boogaloo&family=Montserrat:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Boogaloo&family=Montserrat:wght@200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Boogaloo&family=Montserrat:wght@200;300;400;500&display=swap");
body {
  background-color: #adddf0;
  background-image: linear-gradient(#adddf0 45%, #519cbb, #044C6A);
}

:root {
  --ratio: 1.5;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio));
  --s0: 1em;
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
}

body abbr {
  text-decoration: none;
}

h1,
h2,
h3 {
  font-family: "Boogaloo", Arial, sans-serif;
  margin: 0;
}

h1 {
  margin: 5vh 0vh 5vh 0vh;
  font-family: "Boogaloo", Arial, sans-serif;
  font-weight: 900;
  /* Heavy */
  font-size: var(--s5);
  color: #eea14e;
  display: inline-block;
  font-weight: normal;
  letter-spacing: 1px;
  line-height: 1em;
}
@media (max-width: 700px) {
  h1 {
    font-size: var(--s4);
    text-align: center;
  }
}

h2 {
  margin-bottom: 2vh;
  color: #Edeeee;
  font-weight: 900;
  /* Heavy */
  font-size: var(--s3);
  letter-spacing: 1px;
  line-height: 1em;
}
@media (max-width: 700px) {
  h2 {
    font-size: var(--s2);
    text-align: center;
  }
}

h3 {
  font-family: "Boogaloo", Arial, sans-serif;
  font-size: var(--s2);
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 1em;
  padding: 0.5em 0 0.25em 0;
}

h4 {
  font-size: var(--s1);
  font-weight: 200;
  /* Thin */
  letter-spacing: 1px;
  line-height: 1em;
  margin: 0.5em 0;
}

p {
  font-family: "Montserrat", arial, sans-serif;
  padding: 0.5em 0;
  margin: 0;
  font-size: var(--s0);
}

a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: #333;
  text-decoration: none;
  transition: border-color 0.2s ease-in-out;
}
a:hover {
  border-color: #DeccA0;
}

#zen-explanation {
  color: rgb(45, 45, 45);
}

#zen-participation, #zen-participation a {
  color: rgb(56, 85, 113);
}

#zen-benefits {
  color: rgb(43, 98, 121);
}

#zen-requirements, #zen-requirements a {
  color: rgb(178, 231, 255);
}

.extra1:before {
  content: "";
  position: absolute;
  width: 200px;
  height: 100px;
  background-image: url("SVG/fish-01.svg");
  background-repeat: none;
  top: 150px;
  left: 600px;
  z-index: -10;
  animation: swim1 15s ease infinite;
}
.extra1:after {
  content: "";
  position: absolute;
  width: 190px;
  height: 75px;
  background-image: url("SVG/fish-02.svg");
  background-repeat: none;
  top: 600px;
  left: 10px;
  z-index: -10;
}

@keyframes swim1 {
  0% {
    left: 0;
    transform: left(0px);
  }
  100% {
    transform: left(100px);
  }
}
.extra2:before {
  content: "";
  position: absolute;
  width: 200px;
  height: 70px;
  background-image: url("SVG/fish-03.svg");
  background-repeat: none;
  top: 800px;
  left: 500px;
  z-index: -10;
}
.extra2:after {
  content: "";
  position: absolute;
  width: 100px;
  height: 125px;
  background-image: url("SVG/fish-04.svg");
  background-repeat: none;
  top: 2000px;
  left: 600px;
  z-index: -10;
}

.design-selection {
  background: rgb(234, 251, 255);
  background: radial-gradient(circle, rgb(234, 251, 255) 6%, rgba(136, 168, 216, 0.4234068627) 54%, rgba(218, 149, 218, 0.2637429972) 63%, rgba(234, 251, 255, 0.9332107843) 80%);
  border-radius: 200px;
  text-align: center;
  margin-right: 5px;
  padding-bottom: 40px;
}
.design-selectionul,
.design-selection li {
  list-style: none;
  padding-top: 5px;
  padding-right: 10px;
}

.select {
  padding: 60px 60px 0 60px;
}

.design-archives {
  background: rgb(234, 251, 255);
  background: radial-gradient(circle, rgb(234, 251, 255) 6%, rgba(136, 168, 216, 0.4234068627) 54%, rgba(218, 149, 218, 0.2637429972) 63%, rgba(234, 251, 255, 0.9332107843) 80%);
  width: 250px;
  border-radius: 200px;
  text-align: center;
  margin-right: 5px;
  padding-bottom: 60px;
  padding-top: 45px;
  margin-top: 10px;
}
.design-archivesul,
.design-archives li {
  list-style: none;
  padding-top: 5px;
  padding-right: 20px;
}

.zen-resources {
  background: rgb(234, 251, 255);
  background: radial-gradient(circle, rgb(234, 251, 255) 6%, rgba(136, 168, 216, 0.4234068627) 54%, rgba(218, 149, 218, 0.2637429972) 63%, rgba(234, 251, 255, 0.9332107843) 80%);
  width: 250px;
  border-radius: 200px;
  text-align: center;
  margin-left: 50px;
  padding-bottom: 30px;
  padding-top: 40px;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
}
.zen-resourcesul,
.zen-resources li {
  list-style: none;
  padding-top: 5px;
  padding-right: 30px;
}

.design-selection {
  font-family: "Montserrat", arial, sans-serif;
  font-size: 15px;
}
.design-selection a {
  border-bottom: none;
  color: #333;
  text-decoration: none;
  transition: border-color 0.2s ease-in-out;
}
.design-selection a:hover {
  color: #eea14e;
}

.design-archives {
  font-family: "Montserrat", arial, sans-serif;
  font-size: 15px;
}
.design-archives a {
  border-bottom: none;
  color: #333;
  text-decoration: none;
  transition: border-color 0.2s ease-in-out;
}
.design-archives a:hover {
  color: #eea14e;
}

.zen-resources {
  font-family: "Montserrat", arial, sans-serif;
  font-size: 15px;
}
.zen-resources a {
  border-bottom: none;
  color: #333;
  text-decoration: none;
  transition: border-color 0.2s ease-in-out;
}
.zen-resources a:hover {
  color: #eea14e;
}
.zen-resources abbr {
  text-decoration: none;
}

footer {
  font-family: "Montserrat", arial, sans-serif;
  display: grid;
  padding: 25px 0px 25px 0px;
  display: flex;
  justify-content: space-between;
}
footer a {
  color: white;
}

.summary:before {
  content: " ";
  position: absolute;
  bottom: 180px;
  right: 0;
  height: 400px;
  width: 800px;
  background-image: url("SVG/boat-01.svg");
  background-repeat: none;
}
@media (max-width: 700px) {
  .summary:before {
    bottom: 100px;
    height: 300px;
    width: 600px;
  }
}
.summary:after {
  content: " ";
  position: absolute;
  bottom: 100px;
  left: -155px;
  height: 400px;
  width: 800px;
  background-image: url("SVG/wave.svg");
  background-repeat: none;
}
@media (max-width: 700px) {
  .summary:after {
    display: none;
    bottom: 150px;
    height: 200px;
    width: 400px;
  }
}

/* allows you to you the names of the variables. */
/* adds background gradient */
header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

body > div {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  overflow-x: hidden;
  margin: 0;
}
@media (max-width: 700px) {
  body > div {
    display: flex;
    flex-direction: column;
  }
}

body {
  margin: 0;
}

.intro {
  grid-column: 1/4;
}

.summary {
  background-color: #DeccA0;
  margin: 1em 0;
  padding: 1.5em 10em 1.5em 1.5em;
  border-radius: 0 80% 0 0;
  width: 50%;
}
@media (max-width: 700px) {
  .summary {
    background-color: transparent;
    text-align: center;
    width: 90%;
    margin: auto auto 13em auto;
  }
}

.preamble {
  grid-column: 1/3;
  width: 75%;
  margin: 5em 10% var(--s3) auto;
  margin-top: 5em;
  margin-left: auto;
  margin-bottom: var(--s3);
}

.main {
  width: 75%;
  margin-inline: auto;
  grid-column: 1/3;
  grid-row: 2/6;
}
.main div {
  margin-bottom: var(--s3);
}
.main h3,
.main p {
  animation: p-fade 3s ease-in;
}
@media (max-width: 700px) {
  .main {
    grid-row: 3;
    grid-column: 1;
  }
}

@keyframes p-fade {
  0% {
    opacity: 0;
    transform: translateY(80%);
  }
  20% {
    opacity: 0;
  }
  50% {
    opacity: 1;
    transform: translateY(0%);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
footer {
  grid-row: 6/7;
}
@media (max-width: 700px) {
  footer {
    margin-top: 61em;
  }
}

@media (max-width: 700px) {
  aside .wrapper {
    margin-top: -62em;
  }
}

/*# sourceMappingURL=main-styles.css.map */
