@import url("https://fonts.googleapis.com/css2?family=Boogaloo&family=Montserrat:wght@200;300;400;500&display=swap");

$fonts-headline: "Boogaloo", Arial, sans-serif;
$fonts-body: "Montserrat", arial, sans-serif;
$primary: #519cbb;
$background-color: #adddf0;
$secondary: #044c6a;
$third-color: #04364f;
$accent1: #decca0;
$accent2: #edeeee;
$fish: #eea14e;
// $grey-sidebar: rgba(51, 55, 69, 0.9);
$text-dark: #333;
$text-light: #fff;

.design-selection {
    background: rgb(234, 251, 255);
    background: radial-gradient(
        circle,
        rgba(234, 251, 255, 1) 6%,
        rgba(136, 168, 216, 0.4234068627450981) 54%,
        rgba(218, 149, 218, 0.2637429971988795) 63%,
        rgba(234, 251, 255, 0.9332107843137255) 80%
    );
    // background: rgb(205, 241, 251);
    // background: radial-gradient(
    //     circle,
    //     rgba(205, 241, 251, 0.5816701680672269) 21%,
    //     rgba(89, 169, 195, 0.5984768907563025) 68%,
    //     rgba(234, 251, 255, 0.7973564425770308) 97%
    // );
    // background: rgb(245, 252, 255);
    // background: radial-gradient(
    //     circle,
    //     rgba(245, 252, 255, 0.9150253851540616) 44%,
    //     rgba(173, 221, 240, 1) 74%,
    //     rgba(245, 252, 255, 1) 100%
    // );
    border-radius: 200px;
    text-align: center;
    margin-right: 5px;
    padding-bottom: 40px;

    &ul,
    li {
        list-style: none;
        padding-top: 5px;
        padding-right: 10px;
    }
}
.select {
    padding: 60px 60px 0 60px;
}

.design-archives {
    background: rgb(234, 251, 255);
    background: radial-gradient(
        circle,
        rgba(234, 251, 255, 1) 6%,
        rgba(136, 168, 216, 0.4234068627450981) 54%,
        rgba(218, 149, 218, 0.2637429971988795) 63%,
        rgba(234, 251, 255, 0.9332107843137255) 80%
    );
    // background: rgb(245, 252, 255);
    // background: radial-gradient(
    //     circle,
    //     rgba(245, 252, 255, 0.9150253851540616) 44%,
    //     rgba(173, 221, 240, 1) 74%,
    //     rgba(245, 252, 255, 1) 100%
    // );
    width: 250px;
    border-radius: 200px;
    text-align: center;
    margin-right: 5px;
    padding-bottom: 60px;
    padding-top: 45px;
    margin-top: 10px;

    &ul,
    li {
        list-style: none;
        padding-top: 5px;
        padding-right: 20px;
    }
}
.zen-resources {
    background: rgb(234, 251, 255);
    background: radial-gradient(
        circle,
        rgba(234, 251, 255, 1) 6%,
        rgba(136, 168, 216, 0.4234068627450981) 54%,
        rgba(218, 149, 218, 0.2637429971988795) 63%,
        rgba(234, 251, 255, 0.9332107843137255) 80%
    );
    // background: rgb(245, 252, 255);
    // background: radial-gradient(
    //     circle,
    //     rgba(245, 252, 255, 0.9150253851540616) 44%,
    //     rgba(173, 221, 240, 1) 74%,
    //     rgba(245, 252, 255, 1) 100%
    // );
    width: 250px;
    border-radius: 200px;
    text-align: center;
    margin-left: 50px;
    padding-bottom: 30px;
    padding-top: 40px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 10px;

    &ul,
    li {
        list-style: none;
        padding-top: 5px;
        padding-right: 30px;
    }
}
