@use "../variables" as *;

.summary {
    position: relative;
    &:before {
        content: " ";
        position: absolute;
        bottom: -15px;
        left: 1200px;
        height: 300px;
        width: 400px;
        background-image: url("SVG/boat-02.svg");
        background-repeat: none;
        @include breakpoint(small) {
            bottom: 100px;
            height: 300px;
            width: 600px;
        }
        animation: rock 8s ease infinite;
    }

    @keyframes rock {
        50% {
            -webkit-transform: rotate(-5deg) translateY(-5px);
        }
    }

    &:after {
        content: " ";
        position: absolute;
        bottom: -145px;
        left: 0;
        height: 500px;
        width: 2000px;
        background-image: url("SVG/waves-01.svg");
        background-repeat: none;
        @include breakpoint(small) {
            display: none;
            bottom: 150px;
            height: 200px;
            width: 400px;
        }
    }
}

// .summary{
//     &::after{
//         content: " ";
//         position: absolute;
//         bottom:280px;
//         right:15em;
//         width:100px;
//         height: 0;
//         border-top: 30px solid brown;
//         border-left: 25px solid transparent;
//         border-right: 25px solid transparent;
//     }
//     &::before {
//         content: "";
//         position: absolute;
//         bottom: 315px;
//         right: 20.5em;
//         width: 0;
//         height: 0;
//         border-bottom: 80px solid brown;
//         border-left: 50px solid transparent;
//     }

// @use '../variables' as *;

// .summary{
//     &::after{
//         content: " ";
//         position: absolute;
//         bottom:280px;
//         right:15em;
//         width:100px;
//         height: 0;
//         border-top: 30px solid brown;
//         border-left: 25px solid transparent;
//         border-right: 25px solid transparent;
//         // @include breakpoint(small){

//         // }
//     }
//     &::before {
//         content: "";
//         position: absolute;
//         bottom: 315px;
//         right: 20.5em;
//         width: 0;
//         height: 0;
//         border-bottom: 80px solid brown;
//         border-left: 50px solid transparent;
//     }

// }

// .preamble {
//     &::before {
//         content: "";
//         position: absolute;
//         right: 15.5em;
//         bottom: 315px;
//         width: 0;
//         height: 0;
//         border-bottom:130px solid brown;
//         border-right: 70px solid transparent;
//     }
// }

// }

// .preamble {
//     &::before {
//         content: "";
//         position: absolute;
//         right: 15.5em;
//         bottom: 315px;
//         width: 0;
//         height: 0;
//         border-bottom:130px solid brown;
//         border-right: 70px solid transparent;
//     }
// }
