.extra1 {
    position: absolute;
    background: #00c9ff;
    width: 300px;
    height: 200px;
    top: 800px;
    left: 125px;
    z-index: -20;
    border-radius: 95% 150px 150px 80%;

    //eye
    &:before {
        content: "";
        position: absolute;
        background: white;
        width: 15px;
        height: 12px;
        top: 50px;
        left: 60px;
        z-index: 1;
        border-radius: 50px;
        transform: rotate(-15deg);
    }
    &:after {
        content: "";
        position: absolute;
        background: linear-gradient(#00c9ff 20%, #92fe9d 80%);
        width: 75px;
        height: 125px;
        top: 125px;
        left: 155px;
        border-radius: 95% 150px 150px 80%;
        transform: rotate(-45deg);
    }
}

//fins

// .extra1::after {
//     position: absolute;
//     background: linear-gradient(#00c9ff 20%, #92fe9d 80%);
//     width: 75px;
//     height: 125px;
//     top: 225px;
//     left: 255px;
//     border-radius: 95% 150px 150px 80%;
//     transform: rotate(-45deg);
// }

// .extra1::after {
//     position: absolute;
//     background: linear-gradient(to right, #00c9ff 10%, #92fe9d 90%);
//     width: 50px;
//     height: 155px;
//     top: 15px;
//     left: 275px;
//     border-radius: 95% 150px 150px 80%;
//     transform: rotate(-90deg);
// }

// .extra1::after {
//     position: absolute;
//     background: linear-gradient(to left, #00c9ff 0%, #92fe9d 100%);
//     width: 100px;
//     height: 125px;
//     top: 150px;
//     left: 400px;
//     border-radius: 95% 150px 150px 80%;
//     transform: rotate(180deg);
// }
