@use "../variables" as *;
@import url("https://fonts.googleapis.com/css2?family=Boogaloo&family=Montserrat:wght@200;300;400;500&display=swap");

:root {
  --ratio: 1.5;
  --s-5: calc(var(--s-4) / var(--ratio));
  --s-4: calc(var(--s-3) / var(--ratio));
  --s-3: calc(var(--s-2) / var(--ratio));
  --s-2: calc(var(--s-1) / var(--ratio));
  --s-1: calc(var(--s0) / var(--ratio)); 
  --s0: 1em; 
  --s1: calc(var(--s0) * var(--ratio));
  --s2: calc(var(--s1) * var(--ratio));
  --s3: calc(var(--s2) * var(--ratio));
  --s4: calc(var(--s3) * var(--ratio));
  --s5: calc(var(--s4) * var(--ratio));
}

//main text styles

body {
    abbr {
        text-decoration: none;
    }
}

h1,
h2,
h3 {
    font-family: $fonts-headline;
    margin: 0;
}
h1 {
    margin: 5vh 0vh 5vh 0vh;
    font-family: $fonts-headline;
    font-weight: 900; /* Heavy */
    font-size: var(--s5);
    color: $fish;
    display: inline-block;
    font-weight: normal;
    letter-spacing: 1px;
    line-height: 1em;
}
h2 {
    margin-bottom: 2vh;
    color: $accent2;
    font-weight: 900; /* Heavy */
    font-size: var(--s3);
    letter-spacing: 1px;
    line-height: 1em;
}
h3 {
  font-family: $fonts-headline;
  font-size: var(--s2);
  font-weight: 400; 
  letter-spacing: 1px;
  line-height: 1em;
  padding: 0.5em 0 0.25em 0;
}
h4 {
    font-size: var(--s1);
    font-weight: 200; /* Thin */
    letter-spacing: 1px;
    line-height: 1em;
    margin: 0.5em 0;
}

p {
//   @include set-font(1em, 1.5em);
  font-family: $fonts-body;
  padding: 0.5em 0;
  margin: 0;
  font-size: var(--s0);
}

a {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  color: $text-dark;
  text-decoration: none;
  transition: border-color 0.2s ease-in-out;
  &:hover {
    border-color: $accent1;
  }
}
